* {
    margin: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
}

body {
    --title-bar-color: #ffffff;
    --contents-color: #f0f0f0;
    --border-color: #dfdfdf;
    background-color: #111;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: auto;
}

input {
    border: 1px solid;
}

input:focus {
    outline: none;
}

select {
    outline: none;
}

select:focus {
    outline: none;
}

div#cad-app {
    --theme-color-win-title: #252529;
    --tm-font-family: sans-serif, "Arial";
    --tm-font-size: 14px;
    --tm-font-weight: 400;
}

#cad-app.webmap {
    font-family: var(--tm-font-family);
}

#cad-app.webmap {
    --title-height: 48px;
    --icon-area-width: 48px;
    display: grid;
    position: relative;
    height: 100dvh;
    width: 100%;
    overflow: hidden;
    grid-template-columns: 100%;
    grid-template-rows: 100dvh;
    grid-template-areas: "cad-view";
    background-color: #000;
}

#cad-view.webmap {
    grid-area: cad-view;
    background-color: #232327;
    z-index: 20000;
}

div.link-outer.webmap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
    height: 100%;
    padding-right: 8px;
}

a.link.webmap {
    height: 28px;
    padding: 5px 6px;
    min-width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    color: #d3d3d3;
    border-radius: 3px;
    border: 1px solid #39393f;
    font-size: 15px;
}

a.link.webmap:visited {
    color: gray;
    text-decoration: underline;
}

a.link.webmap:hover {
    color: #e8e2ee;
    background-color: #ffffff13;
}
